<input type="hidden" name="dispatch" value="{$but_name}" />
<button title="{$alt}" class="btn btn-secondary" type="submit">{if $but_text}{$but_text}{else}<i class="ty-btn-go__icon ty-icon-right-dir"></i>{/if}</button>
