{$obj_prefix = "`$block.block_id`000"}

<section class="brands-carousel">
	<h2 class="sr-only">Brands Carousel</h2>
	<div class="container">
		<div id="owl-brands" class="owl-brands owl-carousel unicase-owl-carousel owl-outer-nav">

			<div class="item">

				<a href="#">

					<figure>
						<figcaption class="text-overlay">
							<div class="info">
								<h4>Acer</h4>
							</div>
						</figcaption>

						 <img src="assets/images/blank.gif" data-echo="assets/images/brands/1.png" class="img-responsive" alt="">

					</figure>
				</a>
			</div>


			<div class="item">

				<a href="#">

					<figure>
						<figcaption class="text-overlay">
							<div class="info">
								<h4>Apple</h4>
							</div>
						</figcaption>

						 <img src="assets/images/blank.gif" data-echo="assets/images/brands/2.png" class="img-responsive" alt="">

					</figure>
				</a>
			</div>


			<div class="item">

				<a href="#">

					<figure>
						<figcaption class="text-overlay">
							<div class="info">
								<h4>Asus</h4>
							</div>
						</figcaption>

						 <img src="assets/images/blank.gif" data-echo="assets/images/brands/3.png" class="img-responsive" alt="">

					</figure>
				</a>
			</div>


			<div class="item">

				<a href="#">

					<figure>
						<figcaption class="text-overlay">
							<div class="info">
								<h4>Dell</h4>
							</div>
						</figcaption>

						<img src="assets/images/blank.gif" data-echo="assets/images/brands/4.png" class="img-responsive" alt="">

					</figure>
				</a>
			</div>


			<div class="item">

				<a href="#">

					<figure>
						<figcaption class="text-overlay">
							<div class="info">
								<h4>Gionee</h4>
							</div>
						</figcaption>

						<img src="assets/images/blank.gif" data-echo="assets/images/brands/5.png" class="img-responsive" alt="">

					</figure>
				</a>
			</div>


			<div class="item">

				<a href="#">

					<figure>
						<figcaption class="text-overlay">
							<div class="info">
								<h4>HP</h4>
							</div>
						</figcaption>

						<img src="assets/images/blank.gif" data-echo="assets/images/brands/6.png" class="img-responsive" alt="">

					</figure>
				</a>
			</div>


			<div class="item">

				<a href="#">

					<figure>
						<figcaption class="text-overlay">
							<div class="info">
								<h4>HTC</h4>
							</div>
						</figcaption>

						<img src="assets/images/blank.gif" data-echo="assets/images/brands/3.png" class="img-responsive" alt="">

					</figure>
				</a>
			</div>


			<div class="item">

				<a href="#">

					<figure>
						<figcaption class="text-overlay">
							<div class="info">
								<h4>IBM</h4>
							</div>
						</figcaption>

						<img src="assets/images/blank.gif" data-echo="assets/images/brands/5.png" class="img-responsive" alt="">

					</figure>
				</a>
			</div>


			<div class="item">

				<a href="#">

					<figure>
						<figcaption class="text-overlay">
							<div class="info">
								<h4>Lenova</h4>
							</div><!-- /.info -->
						</figcaption>

						<img src="assets/images/blank.gif" data-echo="assets/images/brands/2.png" class="img-responsive" alt="">

					</figure>
				</a>
			</div>


			<div class="item">

				<a href="#">

					<figure>
						<figcaption class="text-overlay">
							<div class="info">
								<h4>LG</h4>
							</div><!-- /.info -->
						</figcaption>

						<img src="assets/images/blank.gif" data-echo="assets/images/brands/1.png" class="img-responsive" alt="">

					</figure>
				</a>
			</div>


			<div class="item">

				<a href="#">

					<figure>
						<figcaption class="text-overlay">
							<div class="info">
								<h4>Micromax</h4>
							</div>
						</figcaption>

						<img src="assets/images/blank.gif" data-echo="assets/images/brands/6.png" class="img-responsive" alt="">

					</figure>
				</a>
			</div>


			<div class="item">

				<a href="#">

					<figure>
						<figcaption class="text-overlay">
							<div class="info">
								<h4>Microsoft</h4>
							</div>
						</figcaption>

						<img src="assets/images/blank.gif" data-echo="assets/images/brands/4.png" class="img-responsive" alt="">

					</figure>
				</a>
			</div>


		</div>

	</div>
</section>

{*{if $block.properties.outside_navigation == "Y"}
    <div class="owl-theme ty-owl-controls">
        <div class="owl-controls clickable owl-controls-outside" id="owl_outside_nav_{$block.block_id}">
            <div class="owl-buttons">
                <div id="owl_prev_{$obj_prefix}" class="owl-prev"><i class="ty-icon-left-open-thin"></i></div>
                <div id="owl_next_{$obj_prefix}" class="owl-next"><i class="ty-icon-right-open-thin"></i></div>
            </div>
        </div>
    </div>
{/if}

<div id="scroll_list_{$block.block_id}" class="owl-carousel">
    {foreach from=$brands item="brand" name="for_brands"}
            {include file="common/image.tpl" assign="object_img" class="ty-grayscale" image_width=$block.properties.thumbnail_width image_height=$block.properties.thumbnail_width images=$brand.image_pair no_ids=true lazy_load=true obj_id="scr_`$block.block_id`000`$brand.variant_id`"}
            <div class="ty-center">
                <a href="{"product_features.view?variant_id=`$brand.variant_id`"|fn_url}">{$object_img nofilter}</a>
            </div>
    {/foreach}
</div>
{include file="common/scroller_init.tpl" items=$brands prev_selector="#owl_prev_`$obj_prefix`" next_selector="#owl_next_`$obj_prefix`"}
*}